<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>

<cart-drawer 
  role="dialog"
  aria-modal="true"
  id="cart-drawer" 
  class="cart-drawer"
>
  <div class="cart-drawer__container">
    <div class="cart-drawer__header {% if cart == empty %} is-empty{% endif %}">
      <span class="cart-drawer__heading h1">Your Cart ({{ cart.item_count }})</span>
      <button class="close-cart-drawer-button" aria-label="close">{{ 'icon-close.svg' | inline_asset_content }}</button>
    </div>

    {% if settings.announcement_bar != blank %}
      <div class="cart-drawer__announcement-bar body-bold">{{ settings.announcement_bar }}</div>
    {% endif %}

    <div class="cart-drawer__content">
      {% if cart == empty %}
        <div class="cart-drawer__empty-cart-content">
          <h1>Your cart is empty</h1>
        </div>
      {% else %}
        <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart-drawer__form"
          method="post"
        >
          <div class="cart-items">
            {%- for item in cart.items -%}
              <div id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart-item">
                <div class="cart-item__media">
                  {% if item.image %}
                    <a href="{{ item.url }}" class="cart-item__link"  aria-hidden="true"> </a>
                    <img
                      class="cart-item__image"
                      src="{{ item.image | image_url: width: 300 }}"
                      alt="{{ item.image.alt | escape }}"
                      loading="lazy"
                      width="150"
                      height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                    >
                  {% endif %}
                </div>

                <div class="cart-item__details">
                  <div class="cart-item__title-variants-quantity">
                    <a href="{{ item.url }}" class="cart-item__title chart">{{- item.product.title | escape -}}</a>

                    {% if item.product.has_only_default_variant == false %}
                      <div class="cart-item__options">
                        {%- for option in item.variant.options -%}
                          <span class="cart-item__option">
                            <span>{{ option.name }}</span>
                            {% if option.swatch %}
                              <span class="swatch" style="--swatch-color: {{ option.swatch.color }}"></span>
                            {% endif %}
                          </span>
                        {%- endfor -%}
                      </div>
                    {%- endif -%}


                    <cart-quantity data-index="{{ item.index | plus: 1 }}">
                      <button class="cart-quantity__minus" aria-label="subtract quantity">
                        {{ 'icon-minus.svg' | inline_asset_content }}
                      </button>
                      <input 
                        id="cart-quantity__input-{{ item.index | plus: 1 }}" 
                        class="cart-quantity__input cta-2" 
                        min="0"
                        {% if item.variant.quantity_rule.max != null %}
                          max="{{ item.variant.quantity_rule.max }}"
                        {% endif %}
                        type="number"
                        value="{{ item.quantity }}"
                      >
                      <button class="cart-quantity__plus" aria-label="add to quantity">
                        {{ 'icon-plus.svg' | inline_asset_content }}
                      </button>
                    </cart-quantity>
                  </div>

                  <div class="cart-item__price-remove">
                    <cart-remove-button data-index="{{ item.index | plus: 1 }}">
                      <button class="cart-item__remove-button" aria-label="delete item">
                        {{ 'icon-trash.svg' | inline_asset_content }}
                      </button>
                    </cart-remove-button>
                    <span class="cart-item__price">
                      {{ item.final_line_price | money_without_trailing_zeros }}
                    </span>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>
        </form>

        <div class="cart-drawer__footer">
          <div id="cart-errors" class="body-small" role="alert"></div>

          <div class="cart-drawer-footer__totals" role="status">
            <span class="totals__heading body-small">Subtotal ({{ cart.item_count }})</span>
            <span class="totals__total-value body-small">{{ cart.total_price | money_without_trailing_zeros }}</span>
          </div>

          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="button button--dark-brown cta"
            name="checkout"
            form="CartDrawer-Form"
          >
            Checkout
          </button>

          {% if settings.continue_shopping_link != blank %}
            <a href="{{ settings.continue_shopping_link }}" class="button button--outline">
              <span class="cta">Continue Shopping</span>
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</cart-drawer>

{% stylesheet %}
  .cart-drawer__container {
    background-color: var(--eggshell);
    color: var(--light-brown);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 300ms ease-out;
  }
  @media screen and (min-width: 990px) {
    cart-drawer.open::before {
      content: '';
      position: fixed;
      inset: 0;
      width: 100vw;
    }
  }
  cart-drawer.open {
    z-index: 30;
  }
  cart-drawer.open .cart-drawer__container {
    transform: translateX(0%);
  }
  body:has(cart-drawer.open) {
    overflow-y: hidden;
  }
  cart-drawer.closing .cart-drawer__container {
    transform: translateX(100%);
  }

  .cart-drawer__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 990px) {
    .cart-drawer__container {
      width: 30rem;
    }
  }
  .cart-drawer__form {
    padding: 2rem 1.25rem;
    overflow-y: auto;
    flex: 1;
  }

  .cart-drawer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.25rem;
  }

  .close-cart-drawer-button {
    cursor: pointer;
  }

  .cart-drawer__content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .cart-drawer__empty-cart-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1.25rem;
  }
  .empty-cart-content__button {
    margin-top: 1.875rem;
  }

  .cart-drawer__waves {
    transform: translateX(-60%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    height: 100vh;
  }

  .cart-drawer__footer {
    border-top: 1px solid var(--light-brown-60);
    padding: 2rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .cart-drawer-footer__totals {
    display: flex;
    justify-content: space-between;
  }
  .cart-drawer-footer__tax-note {
    opacity: 0.4;
  }


  .cart-items .cart-item + .cart-item {
    margin: 0.75rem 0 0;
    border-top: 1px solid var(--preto);
  }
  .cart-item {
    display: flex;
    gap: 1.25rem;
    align-items: start;
  }
  @media screen and (min-width: 990px) {
    .cart-item {
      gap: 3.125rem;
    }
  }

  .cart-item__media {
    position: relative;
    width: 30%;
  }
  @media screen and (min-width: 990px) {
    .cart-item__media {
      width: 21%;
    }
  }
  .cart-item__media .cart-item__link {
    position: absolute;
    inset: 0;
  }
  .cart-item__media .cart-item__image {
    aspect-ratio: 122 / 155;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .cart-item__details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
  }

  .cart-item__options {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .cart-item__option {
    color: var(--grey);
    display: flex;
    gap: 0.75rem;
  }
  .cart-item__options .swatch {
    display: block;
    border-radius: 50%;
    position: relative;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--dark-brown);
  }
  .cart-item__options .swatch::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: .65rem;
    height: .65rem;
    background-color: var(--swatch-color);
    border-radius: 50%;
  }

  #cart-errors {
    color: var(--vermelho);
  }
  #cart-errors:empty {
    display: none;
  }

  .cart-drawer__announcement-bar {
    background-color: var(--light-eggshell);
    text-align: center;
    padding: 0.75rem;
  }

  .cart-item__price-remove {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 1.25rem;
  }

  cart-quantity {
    margin-top: 1.25rem;
    display: flex;
    height: 2.5rem;
    max-width: 7rem;
  }
  @media screen and (min-width: 990px) {
    cart-quantity {
      max-width: 9.875rem;
    }
  }
  .cart-quantity__minus {
    background-color: var(--white);
    padding: 0 1.125rem;
    flex-shrink: 0;
  }
  .cart-quantity__plus {
    background-color: var(--white);
    padding: 0 1.125rem;
    flex-shrink: 0;
  }
  .cart-quantity__input {
    padding: 0;
    border: 0;
    min-width: 0;
  }
  .cart-quantity__input::-webkit-outer-spin-button,
  .cart-quantity__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .cart-quantity__input {
    -moz-appearance: textfield;
  }
  .cart-quantity__input:focus-visible {
    outline: none;
  }
  .cart-quantity__input::placeholder {
    color: inherit;
  }
{% endstylesheet %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>
