<footer>
  <div class="footer__container">
    <div class="footer__desktop-content mobile-hidden">
      <span class="footer__title big-title">Quarter Acre</span>
      {% if section.settings.list_id != blank %}
        <div class="footer__newsletter">
          <div class="footer__newsletter-heading rte">{{ section.settings.heading }}</div>
          <span class="footer__newsletter-eyebrow">{{ section.settings.eyebrow }}</span>
          <div class="footer__newsletter-form">{{ section.settings.list_id }}</div>
          <span class="footer__newsletter-disclaimer">{{ section.settings.disclaimer }}</span>
        </div>
      {% endif %}

      {% if section.blocks.size > 0 %}
        {% assign has_text_cols = section.blocks | has: 'type', 'text_col' %}
        {% if has_text_cols %}
          <div class="footer__text-cols">
            {% for block in section.blocks %}
              {% if block.type == 'text_col' %}
                <div class="footer__text-col">
                  {% if block.settings.first_row_content != blank %}
                    <div class="rte">{{ block.settings.first_row_content }}</div>
                  {% endif %}
                  {% if block.settings.second_row_content != blank %}
                    <div class="rte">{{ block.settings.second_row_content }}</div>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% assign has_desktop_menus = section.blocks | has: 'type', 'desktop_menu' %}
        {% if has_desktop_menus or section.settings.video != blank %}
          <div class="footer__desktop-menus">
            {% if has_desktop_menus %}
              {% for block in section.blocks %}
                {% if block.type == 'desktop_menu' %}
                  <div class="footer__desktop-menu">
                    {% if block.settings.header != blank %}
                      <span>{{ block.settings.header }}</span>
                    {% endif %}
                    {% if block.settings.menu != blank %}
                      <div class="footer__desktop-menu-links">
                        {% for link in block.settings.menu.links %}
                          {{ link.title | link_to: link.url }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if section.settings.video != blank %}
              <div class="footer__coop-video">
                <svg
                  viewBox="0 0 100 100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    id="circlePath"
                    d="
                      M 10, 50
                      a 40,40 0 1,1 80,0
                      40,40 0 1,1 -80,0
                    "
                  />
                  <foreignObject height="100%" width="100%">{{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, image_size: 300, loading: 'lazy' }}</foreignObject>
                  <text dy="-3%">
                    <textPath startOffset="35" href="#circlePath" class="body">
                      From our Quarter Acre
                    </textPath>
                  </text>
                </svg>
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="footer__mobile-content desktop-hidden">
      {% if section.settings.list_id != blank %}
        <div class="footer__newsletter">
          <span class="footer__newsletter-eyebrow">{{ section.settings.eyebrow }}</span>
          <div class="footer__newsletter-form">{{ section.settings.list_id }}</div>
          <span class="footer__newsletter-disclaimer">{{ section.settings.disclaimer }}</span>
        </div>
      {% endif %}

      {% if section.blocks.size > 0 %}
        {% assign has_mobile_menus = section.blocks | has: 'type', 'mobile_menu' %}
        {% if has_mobile_menus %}
          <div class="footer__mobile-menus">
            {% for block in section.blocks %}
              {% if block.type == 'mobile_menu' %}
                <div class="footer__mobile-menu">
                  {% if block.settings.menu != blank %}
                    {% for link in block.settings.menu.links %}
                      {{ link.title | link_to: link.url }}
                    {% endfor %}
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}

      <span class="footer__title big-title">Quarter Acre</span>
    </div>
  </div>
</footer>

{% stylesheet %}
  footer {
    padding: 1.875rem 0 0;
  }
  @media screen and (min-width: 990px) {
    footer {
      padding: 1.875rem 1.25rem 3.75rem;
    }
  }

  .footer__container {
    border-top: 1px solid var(--light-brown);
    padding: 2rem 1.25rem 3rem;
  }
  @media screen and (min-width: 990px) {
    .footer__container {
      padding: 1.25rem 0 0;
    }
  }

  .footer__desktop-content {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.25rem;
    row-gap: 2rem;
  }
  .footer__title {
    grid-column: 1;
    grid-row: 1;
  }
  .footer__newsletter {
    grid-column: 1;
    grid-row: 2;
  }
  .footer__text-cols {
    grid-column: 2;
    grid-row: 1;
  }
  .footer__desktop-menus {
    grid-column: 2;
    grid-row: 2;
  }

  .footer__newsletter-eyebrow {
    display: block;
    margin-bottom: 0.75rem;
  }
  .footer__newsletter-disclaimer {
    display: block;
    margin-top: 0.75rem;
  }
  @media screen and (min-width: 990px) {
    .footer__newsletter-heading {
      max-width: 16rem;
      margin-bottom: 3rem;
    }
    .footer__newsletter-eyebrow {
      max-width: 24rem;
    }
    .footer__newsletter-form {
      max-width: 20rem;
    }
    .footer__newsletter-disclaimer {
      max-width: 24rem;
    }
  }

  .footer__text-cols, .footer__desktop-menus {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.25rem;
  }
  .footer__text-col, .footer__desktop-menu {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }
  .footer__text-col {
    justify-content: space-between;
  }
  .footer__desktop-menu-links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  @media screen and (min-width: 990px) {
    .footer__newsletter, .footer__desktop-menu {
      border-top: 1px solid var(--light-brown-30);
      padding-top: 0.75rem;
    }
  }

  .footer__mobile-content {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
  }
  .footer__mobile-menus {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.25rem;
  }
  .footer__mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .footer__coop-video {
    align-self: end;
    grid-column: 3;
    width: 68%;
    margin-left: auto;
  }
  .footer__coop-video svg foreignObject {
    padding: 10%;
  }
  .footer__coop-video svg foreignObject video {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  .footer__coop-video svg textPath {
    font-size: 50%;
    fill: var(--light-brown-30);
    text-transform: uppercase;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Coop video"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow"
    },
    {
      "type": "html",
      "id": "list_id",
      "label": "Klaviyo list ID"
    },
    {
      "type": "text",
      "id": "disclaimer",
      "label": "Disclaimer"
    }
  ],
  "blocks": [
    {
      "type": "desktop_menu",
      "name": "Desktop Menu",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "mobile_menu",
      "name": "Mobile Menu",
      "limit": 3,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "text_col",
      "name": "Text Column",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "first_row_content",
          "label": "First row content"
        },
        {
          "type": "richtext",
          "id": "second_row_content",
          "label": "Second row content"
        },
      ]
    },
  ]
}
{% endschema %}
