{% if section.settings.video != blank or section.settings.image != blank %}
  <div class="full-bleed-media">
    {% if section.settings.video != blank %}
      {{ section.settings.video | video_tag: image_size: '2880x', loop: true, controls: false, muted: true, autoplay: true }}
    {% else %}
      {{ section.settings.image | image_url: width: 2880 | image_tag  }}
    {% endif %}

    {% if section.settings.eyebrow != blank or section.settings.content != blank or section.settings.cta_url != blank and section.settings.cta_text != blank %}
      <div class="full-bleed-media__content">
        {% if section.settings.eyebrow != blank %}
          <span class="body-bold">{{ section.settings.eyebrow }}</span>
        {% endif %}
        {% if section.settings.content != blank %}
          <div class="rte">{{ section.settings.content }}</div>
        {% endif %}
        {% if section.settings.cta_url != blank and section.settings.cta_text != blank %}
          <a href="{{ section.settings.cta_url }}" class="button button--white">{{ section.settings.cta_text }}</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}

{% stylesheet %}
  .full-bleed-media {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .full-bleed-media :is(video, img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .full-bleed-media__content {
    color: var(--white);
    position: absolute;
    bottom: 1.875rem;
    left: 1.25rem;
    right: 1.25rem;
  }
  @media screen and (min-width: 990px) {
    .full-bleed-media__content {
      max-width: 34.375rem;
      bottom: 3.75rem;
      left: 2.5rem;
    }
  }

  .full-bleed-media__content .rte {
    margin-top: 1.25rem;
  }
  .full-bleed-media__content .button {
    margin-top: 2.5rem;
  }
  @media screen and (min-width: 990px) {
    .full-bleed-media__content .button {
      max-width: 19.6875rem;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Full Bleed Media",
  "disabled_on": {"groups": ["header", "footer"]},
  "settings": [
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA URL"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video",
      "info": "If video field blank, image field used instead."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
  ],
  "presets": [
    {
      "name": "Full Bleed Media"
    }
  ]
}
{% endschema %}
