<header-drawer>
  <div class="header__desktop-menu mobile-hidden">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url, class: 'nav' }}
    {% endfor %}
  </div>

  <div class="header__mobile-menu-container desktop-hidden">
    <span class="open-menu-button nav" aria-controls="mobile-menu" aria-expanded="false" aria-haspopup="menu" aria-label="open menu">Menu</span>
    <div role="menu" id="mobile-menu" class="header__mobile-menu">
      <div class="header__mobile-menu-content-container">
        <div class="header__mobile-menu-content">
          <button class="close-menu-button" aria-controls="mobile-menu" aria-expanded="false" aria-haspopup="menu" aria-label="close">{{ 'icon-close.svg' | inline_asset_content }}</button>
          {% for link in section.settings.menu.links %}
            {{ link.title | link_to: link.url, class: 'nav' }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <h2 class="header__title title">
    {{ shop.name | link_to: routes.root_url }}
  </h2>

  <button class="header__cart nav" aria-haspopup="dialog" aria-controls="cart-drawer" aria-expanded="false">Cart {{ cart.item_count }}</button>
</header-drawer>

{% stylesheet %}
  :root {
    --header-height: 3.375rem;
  }

  header-drawer {
    --header-color: var(--white);
    --header-bg-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: var(--header-color);
    background-color: var(--header-bg-color);
    height: 3.375rem;
    padding: 0 1.25rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    transition: color 300ms ease-out, background-color 300ms ease-out;
  }
  header-drawer.scrolled {
    --header-color: var(--color-foreground);
    --header-bg-color: var(--color-background);
  }
  @media screen and (min-width: 990px) {
    header-drawer {
      padding: 0 2.5rem;
    }
  }
  .header__desktop-menu, .header__mobile-menu-container {
    grid-column: 1;
  }
  .header__title {
    grid-column: 2;
  }
  .header__cart {
    grid-column: 3;
  }
  
  .header__desktop-menu {
    display: flex;
    gap: 5rem;
  }
  .header__cart {
    margin-left: auto;
  }

  .header__mobile-menu-container, .header__cart {
    line-height: 0;
  }
  .header__mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .header__mobile-menu-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 1.25rem;
    gap: 1rem;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
  .open-menu-button {
    cursor: pointer;
  }
  .close-menu-button {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 1.25rem;
  }

  .header__mobile-menu {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms ease-out, opacity 300ms ease-out;
  }
  .header__mobile-menu-content-container {
    min-height: 0;
  }
  .header__mobile-menu.open {
    grid-template-rows: 1fr;
    z-index: 10;
  }
  .header__mobile-menu-container:has(.header__mobile-menu.open)::before {
    content: '';
    position: fixed;
    inset: 0;
    width: 100vw;
  }
  body:has(.header__mobile-menu.open) {
    overflow: hidden;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
