<header-drawer>
  <div class="header__desktop-menu mobile-hidden">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url, class: 'nav' }}
    {% endfor %}
  </div>

  <div class="header__mobile-menu-container desktop-hidden">
    <span class="open-menu-button nav" aria-controls="mobile-menu" aria-expanded="false" aria-haspopup="menu">Menu</span>
    <div role="menu" id="mobile-menu" class="header__mobile-menu">
      <div class="header__mobile-menu-content-container">
        <div class="header__mobile-menu-content">
          {% for link in section.settings.menu.links %}
            {{ link.title | link_to: link.url, class: 'nav' }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


  <h2 class="header__title title">
    {{ shop.name | link_to: routes.root_url }}
  </h2>

  <div class="header__cart">
    <a class="nav" href="{{ routes.cart_url }}">
      Cart {{ cart.item_count }}
    </a>
  </div>
</header-drawer>

{% stylesheet %}
  header-drawer {
    height: 3.375rem;
    padding: 0 1.25rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
  }
  @media screen and (min-width: 990px) {
    header-drawer {
      padding: 0 2.5rem;
    }
  }

  header-drawer a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  
  .header__desktop-menu {
    display: flex;
    gap: 1rem;
  }
  .header__cart {
    display: flex;
    justify-content: end;
  }

  .header__mobile-menu-container {
    line-height: 0;
  }
  .header__mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .header__mobile-menu-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.25rem;
    gap: 1rem;
    background-color: var(--white);
  }
  .open-menu-button {
    cursor: pointer;
  }

  .header__mobile-menu {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms ease-out, opacity 300ms ease-out;
  }
  .header__mobile-menu-content-container {
    min-height: 0;
  }
  .header__mobile-menu.open {
    grid-template-rows: 1fr;
    z-index: 10;
  }
  .header__mobile-menu-container:has(.header__mobile-menu.open)::before {
    content: '';
    position: fixed;
    inset: 0;
    width: 100vw;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
