{% comment %}
  This section is used in the password template to render landing page shown
  when password protection is applied to a store.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/password
{% endcomment %}

{% liquid
  assign has_text_cols = section.blocks | has: 'type', 'text_col'
  assign has_social_links = section.blocks | has: 'type', 'social_link'
  assign has_menus = section.blocks | has: 'type', 'menu'
%}

<div class="password">
  {% assign desktop_media_class = 'password__image' %}
  {% if section.settings.mobile_image != blank %}
    {% assign desktop_media_class = 'password__image mobile-hidden' %}
    {{ section.settings.mobile_image | image_url: width: 1980 | image_tag: class: 'password__image desktop-hidden' }}
  {% endif %}

  {% if section.settings.desktop_image != blank %}
    {{ section.settings.desktop_image | image_url: width: 2880 | image_tag: class: desktop_media_class }}
  {% endif %}

  <div class="password__container">
    <div class="password__desktop-content mobile-hidden">
      <span class="password__title big-title">Quarter Acre</span>
      {% if section.settings.list_id != blank %}
        <div class="password__newsletter">
          <div class="password__newsletter-heading rte">{{ section.settings.heading }}</div>
          <span class="password__newsletter-eyebrow">{{ section.settings.eyebrow }}</span>
          <div class="password__newsletter-form">{{ section.settings.list_id }}</div>
          <span class="password__newsletter-disclaimer">{{ section.settings.disclaimer }}</span>
        </div>
      {% endif %}

      {% if section.settings.content != blank %}
        <div class="password__text-cols rte">
          {{ section.settings.content }}
        </div>
      {% endif %}

      {% if has_menus or section.settings.video != blank %}
        <div class="password__menus">
          {% if has_menus %}
            {% for block in section.blocks %}
              {% if block.type == 'menu' %}
                <div class="password__menu">
                  {% if block.settings.header != blank %}
                    <span>{{ block.settings.header }}</span>
                  {% endif %}
                  {% if block.settings.menu != blank %}
                    <div class="password__menu-links">
                      {% for link in block.settings.menu.links %}
                        {{ link.title | link_to: link.url }}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if section.settings.video != blank %}
            <div class="password__coop-video">
              <svg
                viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  id="circlePath"
                  d="
                    M 10, 50
                    a 40,40 0 1,1 80,0
                    40,40 0 1,1 -80,0
                  "
                />
                <foreignObject height="100%" width="100%">{{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, image_size: 300, loading: 'lazy' }}</foreignObject>
                <text dy="-3%">
                  <textPath startOffset="35" href="#circlePath" class="body">
                    From our Quarter Acre
                  </textPath>
                </text>
              </svg>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="password__mobile-content desktop-hidden">
      <div class="password__title">
        {{ 'icon-wordmark.svg' | inline_asset_content }}
        
        {% if section.settings.content != blank %}
          <div class="password__content">
            {{ section.settings.content }}
          </div>
        {% endif %}
      </div>

      {% if section.settings.list_id != blank %}
        <div class="password__newsletter">
          <div class="password__newsletter-heading rte">{{ section.settings.heading }}</div>
          <span class="password__newsletter-eyebrow">{{ section.settings.eyebrow }}</span>
          <div class="password__newsletter-form">{{ section.settings.list_id }}</div>
          <span class="password__newsletter-disclaimer">{{ section.settings.disclaimer }}</span>
        </div>
      {% endif %}

      {% if has_menus %}
        <div class="password__menus">
          {% for block in section.blocks %}
            {% if block.type == 'menu' %}
              <div class="password__menu">
                {% if block.settings.header != blank %}
                  <span>{{ block.settings.header }}</span>
                {% endif %}
                {% if block.settings.menu != blank %}
                  <div class="password__menu-links">
                    {% for link in block.settings.menu.links %}
                      {{ link.title | link_to: link.url }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      {% if has_text_cols %}
        <div class="password__text-cols">
          {% for block in section.blocks %}
            {% if block.type == 'text_col' %}
              <div class="password__text-col">
                {% if block.settings.first_row_content != blank %}
                  <div class="rte">{{ block.settings.first_row_content }}</div>
                {% endif %}
                {% if block.settings.second_row_content != blank %}
                  <div class="rte">{{ block.settings.second_row_content }}</div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>



  {% form 'storefront_password' %}
    {% if form.errors %}
      {{ form.errors | default_errors }}
    {% endif %}

    <input type="password" name="password" id="password-input">
  {% endform %}
</div>

{% stylesheet %}
  .password {
    color: var(--white);
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .password__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .password__container {
    position: absolute;

    @media screen and (max-width: 989px) {
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      padding: 0 1.25rem;
    }

    @media screen and (min-width: 990px) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 81%;
    }
  }

  .password__desktop-content {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.25rem;
    row-gap: 2rem;
  }
  .password__desktop-content .password__title {
    grid-column: 1;
    grid-row: 1;
  }
  .password__desktop-content .password__newsletter {
    grid-column: 1;
    grid-row: 2;
  }
  .password__desktop-content .password__text-cols {
    grid-column: 2;
    grid-row: 1;
  }
  .password__desktop-content .password__menus {
    grid-column: 2;
    grid-row: 2;
  }


  .password__newsletter-form .klaviyo-form, .password__newsletter-form .klaviyo-form > * {
    height: 44px;
  }
  .password__newsletter-heading {
    margin-bottom: 3rem;
  }
  .password__newsletter-eyebrow {
    display: block;
    margin-bottom: 0.75rem;
  }
  .password__newsletter-disclaimer {
    display: block;
    margin-top: 0.75rem;
  }
  @media screen and (min-width: 990px) {
    .password__newsletter-heading {
      max-width: 16rem;
    }
    .password__newsletter-eyebrow {
      max-width: 24rem;
    }
    .password__newsletter-form {
      max-width: 20rem;
    }
    .password__newsletter-disclaimer {
      max-width: 24rem;
    }
  }

  .password__menus {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
  }
  @media screen and (min-width: 990px) {
    .password__menus {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  .password__text-col, .password__menu {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }
  .password__text-col {
    justify-content: space-between;
  }
  .password__menu-links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: start;
  }
  .password__menu {
    border-top: 1px solid var(--white);
    padding-top: 0.75rem;
  }
  @media screen and (min-width: 990px) {
    .password__newsletter {
      border-top: 1px solid var(--white);
      padding-top: 0.75rem;
    }
  }
  @media screen and (max-width: 989px) {
    .password__text-cols {
      padding-top: 0.75rem;
      border-top: 1px solid var(--white);
    }
  }

  .password__coop-video {
    align-self: end;
    grid-column: 3;
    width: 68%;
    margin-left: auto;
  }
  .password__coop-video svg foreignObject {
    padding: 10%;
  }
  .password__coop-video svg foreignObject video {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  .password__coop-video svg textPath {
    font-size: 50%;
    fill: var(--grey);
    text-transform: uppercase;
  }


  .password__mobile-content {
    border-top: 1px solid var(--white);
    padding: 0.75rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
  }
  .password__mobile-content .password__title svg {
    width: 100%;
    height: auto;
  }
  .password__mobile-social-links {
    margin-top: 0.75rem;
    display: flex;
    gap: 2.5rem;
  }

  .password form {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .password form input {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
  }

  @media screen and (max-width: 990px) {
    .password__content {
      margin-top: 0.75rem;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.password",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image",
      "info": "If mobile image blank, desktop image used instead."
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow"
    },
    {
      "type": "html",
      "id": "list_id",
      "label": "Klaviyo list ID"
    },
    {
      "type": "text",
      "id": "disclaimer",
      "label": "Disclaimer"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
  ]
}
{% endschema %}
