{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% assign form_id = 'product-form-' | append: section.id %}

<product-info 
  class="main-product"
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-url="{{ product.url }}"
>
  <div class="product__featured-media-container mobile-hidden">
    <product-featured-media data-is-chicken-view="{{ product.metafields.custom.add_chicken_view }}" id="featured-media">
      {% liquid
        if product.metafields.custom.add_chicken_view
          assign featured_media_limit = 8
          assign no_featured_media_limit = 10
        else
          assign featured_media_limit = 4
          assign no_featured_media_limit = 5
        endif
      %}
      {% if product.selected_or_first_available_variant.featured_media %}
        <div data-index="0" class="product__featured-media variant-media active">
          {% if product.selected_or_first_available_variant.featured_media.media_type == 'video'  %}
            {{ product.selected_or_first_available_variant.featured_media | video_tag: image_size: '1440x', loop: true, controls: false, muted: true, autoplay: true }}
          {% else %}
            {{ product.selected_or_first_available_variant.featured_media | image_url: width: 1440 | image_tag }}
          {% endif %}
        </div>
        {% for media in product.media limit: featured_media_limit %}
          <div data-index="{{ forloop.index }}" class="product__featured-media">
            {% if media.media_type == 'video'  %}
              {{ media | video_tag: image_size: '1440x', loop: true, controls: false, muted: true, autoplay: true }}
            {% else %}
              {{ media | image_url: width: 1440 | image_tag }}
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        {% for media in product.media limit: no_featured_media_limit %}
          <div data-index="{{ forloop.index0 }}" class="product__featured-media{% if forloop.index0 == 0 %} active{% endif %}">
            {% if media.media_type == 'video'  %}
              {{ media | video_tag: image_size: '1440x', loop: true, controls: false, muted: true, autoplay: true }}
            {% else %}
              {{ media | image_url: width: 1440 | image_tag }}
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
      <h1 class="big-h1">{{ product.title }}</h1>
      {% if product.metafields.custom.add_chicken_view %}
        <div class="views-nav chart" aria-controls="featured-media">
          <span>View</span>
          <span class="first-view active">1</span>
          <span class="second-view">2</span>
        </div>
      {% endif %}
    </product-featured-media>
  </div>

  <div class="product__mobile-slideshow swiper desktop-hidden">
    <div class="swiper-wrapper">
      {% if product.selected_or_first_available_variant.featured_media %}
        <div class="swiper-slide">
          {% if product.selected_or_first_available_variant.featured_media.media_type == 'video'  %}
            {{ product.selected_or_first_available_variant.featured_media | video_tag: image_size: '1980x', loop: true, controls: false, muted: true, autoplay: true }}
          {% else %}
            {{ product.selected_or_first_available_variant.featured_media | image_url: width: 1980 | image_tag }}
          {% endif %}
        </div>
      {% endif %}
      {% for media in product.media %}
        {% unless media.id == product.selected_or_first_available_variant.featured_media.id %}
          <div class="swiper-slide">
            {% if media.media_type == 'video'  %}
              {{ media | video_tag: image_size: '1980x', loop: true, controls: false, muted: true, autoplay: true }}
            {% else %}
              {{ media | image_url: width: 1980 | image_tag }}
            {% endif %}
          </div>
        {% endunless %}
      {% endfor %}
    </div>
    <div class="fig swiper-pagination"></div>
    <h1 class="big-h1">{{ product.title }}</h1>
  </div>

  <div class="product__content">
    <div class="product__media-thumbnails-container mobile-hidden">
      <product-thumbnails aria-controls="featured-media">
        {% liquid
          assign chicken_view_limit = 10
          assign no_chicken_view_limit = 5
        %}
        {% if product.selected_or_first_available_variant.featured_media %}
          {% liquid
            assign chicken_view_limit = 8
            assign no_chicken_view_limit = 4
          %}
          <div data-index="0" class="product__media-thumbnail active">
            {% if product.selected_or_first_available_variant.featured_media.media_type == 'video'  %}
              {{ product.selected_or_first_available_variant.featured_media | video_tag: image_size: '1440x', loop: true, controls: false, muted: true, autoplay: true }}
            {% else %}
              {{ product.selected_or_first_available_variant.featured_media | image_url: width: 1440 | image_tag }}
            {% endif %}
          </div>
        {% endif %}

        {% if product.metafields.custom.add_chicken_view %}
          {% for media in product.media limit: chicken_view_limit %}
            {% assign index_mod_2 = forloop.index0 | modulo: 2 %}
            {% if index_mod_2 == 0 %}
              <div 
                data-index="{% if product.selected_or_first_available_variant.featured_media %}{{ forloop.index }}{% else %}{{ forloop.index0 }}{% endif %}" 
                class="product__media-thumbnail{% if product.selected_or_first_available_variant.featured_media == blank and forloop.index0 == 0 %} active{% endif %}"
              >
                {% if media.media_type == 'video'  %}
                  {{ media | video_tag: image_size: '1440x', loop: true, controls: false, muted: true, autoplay: true }}
                {% else %}
                  {{ media | image_url: width: 1440 | image_tag }}
                {% endif %}
                <span class="border-circle"></span>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for media in product.media limit: no_chicken_view_limit %}
            <div 
              data-index="{% if product.selected_or_first_available_variant.featured_media %}{{ forloop.index }}{% else %}{{ forloop.index0 }}{% endif %}" 
              class="product__media-thumbnail{% if product.selected_or_first_available_variant.featured_media == blank and forloop.index0 == 0 %} active{% endif %}"
            >              
              {% if media.media_type == 'video'  %}
                {{ media | video_tag: image_size: '1440x', loop: true, controls: false, muted: true, autoplay: true }}
              {% else %}
                {{ media | image_url: width: 1440 | image_tag }}
              {% endif %}
              <span class="border-circle"></span>
            </div>
          {% endfor %}
        {% endif %}
      </product-thumbnails>
    </div>

    <div class="product__description-variant-selects">
      {% if product.description != blank %}
        <div class="product__description rte mobile-hidden">
          {{ product.description }}
        </div>
      {% endif %}

      {% unless product.has_only_default_variant %}
        <div class="product__variant-selects">
          {% for option in product.options_with_values %}
            {% assign option_forloop_index = forloop.index %}
            <div class="product__option">
              <span class="product__option-title chart">{{ option.name }}</span>
              <fieldset class="product__option-fieldset">
                <legend class="hidden">{{ option.name }}</legend>
                {% for value in option.values %}
                  {%- liquid
                    assign option_disabled = true
                    if value.available
                      assign option_disabled = false
                    endif
                  -%}
                  <input
                    type="radio"
                    id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-{{ product.handle }}"
                    name="{{ product.title | handleize }}-{{ option.name }}-{{ section.id }}"
                    value="{{ value | escape }}"
                    form=form_id
                    {% if value.selected %}
                      checked
                    {% endif %}
                    {% if option_disabled %}
                      class="disabled"
                    {% endif %}
                    data-product-url="{{ value.product_url }}"
                    data-option-value-id="{{ value.id }}"
                  >
                  <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-{{ product.handle }}" class="chart">
                    {{ value }}{% if option_forloop_index == 1 %} | {{ value.variant.price | money_without_trailing_zeros }}{% endif %}
                    {% if value.swatch.color %}
                      <span class="swatch" style="--swatch-color: {{ value.swatch.color }}"></span>
                    {% endif %}
                  </label>
                {% endfor %}
              </fieldset>
            </div>
          {% endfor %}
          <script type="application/json" data-selected-variant>
            {{ product.selected_or_first_available_variant | json }}
          </script>
        </div>
      {% endunless %} 

      {% if product.metafields.custom.tech_sheet %}
        <div class="product__tech-sheet mobile-hidden">
          <span class="chart">Tech Sheet</span>
          <div class="product__tech-sheet-download">
            <a href="{{ product.metafields.custom.tech_sheet.value.url }}" download>
              <span class="chart">Download</span>
              <div class="icon-download">
                {{ 'icon-download.svg' | inline_asset_content }}
              </div>
            </a>
          </div>
        </div>
      {% endif %}

      <product-form>
        <div class="product-form__error-message-wrapper" role="alert" hidden>
          <span class="product-form__error-message"></span>
        </div>
        {%- form 'product',
          product,
          id: form_id,
          class: 'form',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            {% if product.selected_or_first_available_variant.available == false
              or quantity_rule_soldout
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
            class="product-variant-id"
          >
          <button 
            id="ProductSubmitButton-{{ section.id }}"
            class="product__atb button button--dark-brown cta" 
            type="submit"
            {% if product.selected_or_first_available_variant.available == false
              or quantity_rule_soldout
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
          >
            <span class="product__atb-text">
              {%- if product.selected_or_first_available_variant.available -%}
                Add to Bag
              {%- else -%}
                Sold Out
              {%- endif -%}
            </span>
            <span>|</span>
            <span class="product__price">
              {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
            </span>
          </button>
        {% endform %}
      </product-form>
    </div>

    {% if product.description != blank %}
      <div class="product__description rte desktop-hidden">
        {{ product.description }}
      </div>
    {% endif %}

    {% if product.metafields.custom.tech_sheet %}
      <div class="product__tech-sheet desktop-hidden">
        <span class="chart">Tech Sheet</span>
        <div class="product__tech-sheet-download">
          <a href="{{ product.metafields.custom.tech_sheet.value.url }}" download>
            <span class="chart">Download</span>
            <div class="icon-download">
              {{ 'icon-download.svg' | inline_asset_content }}
            </div>
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</product-info>


{% stylesheet %}
  @media screen and (min-width: 990px) {
    .main-product {
      display: flex;
    }
  }

  .main-product > * {
    flex: 1;
  }


  .product__featured-media-container {
    height: 100vh;
    position: relative;
  }
  .product__featured-media-container h1 {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);
    color: var(--white);
  }
  .product__featured-media {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 150ms ease-out;
    opacity: 0;
  }
  .product__featured-media.active {
    opacity: 1;
  }
  .product__featured-media :is(img, video) {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .product__featured-media-container .views-nav {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    display: flex;
    gap: 2rem;
    color: var(--white);
  }
  .product__featured-media-container .views-nav span:is(.first-view, .second-view) {
    position: relative;
    padding: 0.5rem;
    margin: -0.5rem;
    cursor: pointer;
  }
  .product__featured-media-container .views-nav span:is(.first-view, .second-view).active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--white);
  }
  .product__featured-media-container:has(.product__featured-media.variant-media.active) .views-nav {
    display: none;
  }

  product-thumbnails {
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.25rem;
    padding: 0 0.25rem;
  }
  .product__media-thumbnail {
    flex-shrink: 0;
    scroll-snap-align: center;
    cursor: pointer;
    width: 33%;
    height: 100%;
    position: relative;
  }
  .product__media-thumbnail:nth-child(3) {
    width: 36%;
  }
  .product__media-thumbnail:nth-child(1) img {
    aspect-ratio: 237 / 278;
  }
  .product__media-thumbnail:nth-child(2) img {
    aspect-ratio: 237 / 190;
  }
  .product__media-thumbnail:nth-child(3) img {
    aspect-ratio: 278 / 278;
    border-radius: 50%;
  }
  .product__media-thumbnail:nth-child(4) img {
    aspect-ratio: 237 / 278;
  }
  .product__media-thumbnail:nth-child(5) img {
    aspect-ratio: 237 / 190;
  }
  .product__media-thumbnail:not(:nth-child(3)).active::after{
    content: '';
    border-bottom: 2px solid var(--light-brown);
    position: absolute;
    inset: 0;
  }
  .product__media-thumbnail:nth-child(3).active .border-circle {
    display: block;
    height: 50%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
  }
  .product__media-thumbnail:nth-child(3).active .border-circle::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200%;
    border-radius: 50%;
    border: 2px solid var(--light-brown);
  }

  .product__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (max-width: 989px) {
    .product__content {
      padding: 2.5rem 1.25rem 0;
      gap: 2.5rem;
    }
  }
  @media screen and (min-width: 990px) {
    .product__description-variant-selects {
      padding: 0.75rem 1.25rem;
    }
  }
  @media screen and (min-width: 990px) {
    .product__description {
      margin-bottom: 5rem;
    }
  }
  .product__description table {
    max-width: 30.875rem;
    height: unset !important;
    width: unset !important;
  }
  .product__description table * {
    height: unset !important;
    width: unset !important;
  }
  .product__description table tr td {
    width: 50% !important;
  }
  .product__description table tr:first-child {
    margin-bottom: 0.5rem;
  }
  .product__description table tr td:first-child {
    padding-right: 1rem;
  }
  .product__description table tr td:nth-child(2) {
    padding-left: 1rem;
  }
  @media screen and (min-width: 990px) {
    .product__description table tr td:first-child {
      padding-right: 1.875rem;
    }
    .product__description table tr td:nth-child(2) {
      padding-left: 1.875rem;
    }
  }
  .product__description table td {
    vertical-align: top;
  }
  .product__description table td span {
    font-weight: 500;
  }
  .product__description table td *:not(:empty) + * {
    margin-top: 0.5rem;
  }

  .product__variant-selects {
    border-top: 1px solid var(--light-brown);
  }
  @media screen and (max-width: 990px) {
    .product__option {
      margin-top: 1.25rem;
    }
  }
  @media screen and (min-width: 990px) {
    .product__option {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: center;
    }
    .product__option + .product__option {
      border-top: 1px solid var(--light-brown-30);
    }
  }
  .product__option-title {
    display: block;
    padding: 0 0 0.75rem;
  }
  @media screen and (min-width: 990px) {
    .product__option-title {
      padding: 0.75rem 0;
    }
  }
  .product__option-fieldset {
    border: none;
    padding: 0;
    display: flex;
  }
  .product__option-fieldset input {
    position: absolute;
    height: 0;
    width: 0;
  }
  .product__option-fieldset label {
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border: 1px solid var(--light-brown);
    text-align: center;
    padding: 0.75rem;
    margin: -1px -1px -1px 0;
    transition: background-color 300ms ease-out;
  }
  .product__option-fieldset input:checked + label {
    background-color: var(--white);
  }
  .product__option-fieldset label .swatch {
    display: block;
    border-radius: 50%;
    position: relative;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--dark-brown);
  }
  .product__option-fieldset label .swatch::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.65rem;
    height: 0.65rem;
    background-color: var(--swatch-color);
    border-radius: 50%;
  }

  @media screen and (max-width: 989px) {
    product-form {
      display: block;
      margin-top: 1.25rem;
    }
  }
  .product__atb {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .product__tech-sheet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--light-brown-30);
  }
  .product__tech-sheet-download a {
    display: flex;
    gap: 0.75rem;
    padding: 0.75rem 0;
  }
  .product__tech-sheet-download .icon-download {
    padding-right: 0.75rem;
  }

  .product__mobile-slideshow {
    position: relative;
  }
  .product__mobile-slideshow h1 {
    position: absolute;
    bottom: 0.75rem;
    left: 1.25rem;
    color: var(--white);
    z-index: 10;
  }
  .product__mobile-slideshow .swiper-slide {
    aspect-ratio: 402 / 512;
  }
  .product__mobile-slideshow .swiper-slide > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product__mobile-slideshow .swiper-pagination {
    text-align: right;
    color: var(--white);
    left: unset;
    width: unset;
    right: 1.25rem;
    bottom: 1.125rem;
  }
{% endstylesheet %}

{% javascript %}
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      type: 'fraction',
      renderFraction: function (currentClass, totalClass) {
        return '(<span class="' + currentClass + '"></span>' +'/' + '<span class="' + totalClass + '"></span>)';
      },
    },
  });
{% endjavascript %}

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
