{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% assign form_id = 'product-form-' | append: section.id %}

<product-info 
  class="main-product"
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-url="{{ product.url }}"
>
  <div class="product__featured-media-container">
    <product-featured-media data-is-chicken-view="{{ product.metafields.custom.add_chicken_view }}" id="featured-media">
      {% for media in product.media %}
        {% assign index_mod_2 = forloop.index0 | modulo: 2 %}
        {% if index_mod_2 == 0 %}
          <div data-index="{{ forloop.index0 | divided_by: 2 }}" class="product__featured-media{% if forloop.index0 == 0 %} active{% endif %}">
            {% if media.media_type == 'video'  %}
              {{ media | video_tag: image_size: '1440x', loop: true, controls: false, muted: true, autoplay: true, class: 'active' }}
            {% else %}
              {{ media | image_url: width: 1440 | image_tag: class: 'active' }}
            {% endif %}

            {% assign index_plus_1 = forloop.index0 | plus: 1 %}
            {% assign chicken_view_media = product.media[index_plus_1] %}
            {% if chicken_view_media.media_type == 'video'  %}
              {{ chicken_view_media | video_tag: image_size: '1440x', loop: true, controls: false, muted: true, autoplay: true }}
            {% else %}
              {{ chicken_view_media | image_url: width: 1440 | image_tag }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <h1 class="big-h1 mobile-hidden">{{ product.title }}</h1>
      <div class="views-nav body-bold" aria-controls="featured-media">
        <div class="views-nav__view-1-2 mobile-hidden">
          <span>View</span>
          <span class="first-view active">1</span>
          <span class="second-view">2</span>
        </div>
        <span class="views-nav__change-view desktop-hidden">Change View</span>
      </div>
      <div class="pag body-bold desktop-hidden">
        <span class="current-slide">1</span>
        <span>/</span>
        <span>{{ product.media.size | divided_by: 2 }}</span>
      </div>
    </product-featured-media>
  </div>

  <div class="product__content">
    <div class="product__media-thumbnails-container">
      <product-thumbnails aria-controls="featured-media">
        {% for media in product.media %}
          {% assign index_mod_2 = forloop.index0 | modulo: 2 %}
          {% if index_mod_2 == 0 %}
            <div 
              data-index="{{ forloop.index0 | divided_by: 2 }}" 
              class="product__media-thumbnail{% if forloop.index0 == 0 %} active{% endif %}"
            >
              {% if media.media_type == 'video'  %}
                {{ media | video_tag: image_size: '480x', loop: true, controls: false, muted: true, autoplay: true, class: 'acti8ve' }}
              {% else %}
                {{ media | image_url: width: 480 | image_tag: class: 'active' }}
              {% endif %}

              {% assign index_plus_1 = forloop.index0 | plus: 1 %}
              {% assign chicken_view_media = product.media[index_plus_1] %}
              {% if chicken_view_media.media_type == 'video'  %}
                {{ chicken_view_media | video_tag: image_size: '480x', loop: true, controls: false, muted: true, autoplay: true }}
              {% else %}
                {{ chicken_view_media | image_url: width: 480 | image_tag }}
              {% endif %}
                <span class="border-circle"></span>
            </div>
          {% endif %}
        {% endfor %}
      </product-thumbnails>
    </div>


    <h1 class="big-h1 desktop-hidden">{{ product.title }}</h1>
    <div class="product__description-variant-selects">
      {% if product.description != blank or product.metafields.custom.description_columns %}
        <div class="product__description mobile-hidden">
          <div class="rte">{{ product.description }}</div>
          {% if product.metafields.custom.description_columns %}
            <div class="product__description-columns">
              {% for col in product.metafields.custom.description_columns.value %}
                <div>
                  <span class="body-bold">{{ col.heading }}</span>
                  {{ col.content | metafield_tag }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% unless product.has_only_default_variant %}
        <div class="product__variant-selects">
          {% for option in product.options_with_values %}
            <div class="product__option">
              <span class="product__option-title body-bold">{{ option.name }}</span>
              <fieldset class="product__option-fieldset">
                <legend class="hidden">{{ option.name }}</legend>
                {% for value in option.values %}
                  {%- liquid
                    assign option_disabled = true
                    if value.available
                      assign option_disabled = false
                    endif
                  -%}
                  <input
                    type="radio"
                    id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-{{ product.handle }}"
                    name="{{ product.title | handleize }}-{{ option.name }}-{{ section.id }}"
                    value="{{ value | escape }}"
                    form=form_id
                    {% if value.selected %}
                      checked
                    {% endif %}
                    {% if option_disabled %}
                      class="disabled"
                    {% endif %}
                    data-product-url="{{ value.product_url }}"
                    data-option-value-id="{{ value.id }}"
                  >
                  <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-{{ product.handle }}" class="chart">
                    {{ value }}
                    {% if value.name == 'Include Run' and product.metafields.custom.include_run_modal_content %}
                      <include-run-modal>
                        <button aria-haspopup="dialog" aria-controls="include-run-modal" aria-label="open">
                          {{ 'icon-info.svg' | inline_asset_content }}
                        </button>
                        <dialog id="include-run-modal" class="include-run-modal__dialog">
                          <button class="include-run-modal__close-button" aria-controls="include-run-modal" aria-label="close">
                            {{ 'icon-close.svg' | inline_asset_content }}
                          </button>
                          {{ product.metafields.custom.include_run_modal_content | metafield_tag }}
                        </dialog>
                      </include-run-modal>
                    {% endif %}
                    {% if value.swatch.color %}
                      <span class="swatch" style="--swatch-color: {{ value.swatch.color }}"></span>
                    {% endif %}
                  </label>
                {% endfor %}
              </fieldset>
            </div>
          {% endfor %}
          <script type="application/json" data-selected-variant>
            {{ product.selected_or_first_available_variant | json }}
          </script>
        </div>
      {% endunless %} 

      {% if product.metafields.custom.tech_sheet %}
        <div class="product__tech-sheet">
          <span class="body-bold mobile-hidden">Tech Sheet</span>
          <div class="product__tech-sheet-download">
            <a href="{{ product.metafields.custom.tech_sheet.value.url }}" download>
              <span class="body-bold mobile-hidden">Download</span>
              <span class="body-bold desktop-hidden">Download Tech Sheet</span>
              <div class="icon-download">
                {{ 'icon-download.svg' | inline_asset_content }}
              </div>
            </a>
          </div>
        </div>
      {% endif %}

      <product-form>
        <div class="product-form__error-message-wrapper" role="alert" hidden>
          <span class="product-form__error-message"></span>
        </div>
        {%- form 'product',
          product,
          id: form_id,
          class: 'form',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            {% if product.selected_or_first_available_variant.available == false
              or quantity_rule_soldout
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
            class="product-variant-id"
          >
          <button 
            id="ProductSubmitButton-{{ section.id }}"
            class="product__atb button button--dark-brown cta" 
            type="submit"
            {% if product.selected_or_first_available_variant.available == false
              or quantity_rule_soldout
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
          >
            <span class="product__atb-text">
              {%- if product.selected_or_first_available_variant.available -%}
                Add to Bag
              {%- else -%}
                Sold Out
              {%- endif -%}
            </span>
            <span>|</span>
            <span class="product__price">
              {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
            </span>
          </button>
        {% endform %}
      </product-form>
    </div>

    {% if product.description != blank or product.metafields.custom.description_columns %}
      <div class="product__description desktop-hidden">
        <div class="rte">{{ product.description }}</div>
        {% if product.metafields.custom.description_columns %}
          <div class="product__description-columns">
            {% for col in product.metafields.custom.description_columns.value %}
              <div>
                <span class="body-bold">{{ col.heading }}</span>
                {{ col.content | metafield_tag }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</product-info>


{% stylesheet %}
  @media screen and (min-width: 990px) {
    .main-product {
      display: flex;
    }
  }

  .main-product > * {
    flex: 1;
  }


  .product__featured-media-container {
    height: 63vh;
    position: relative;

    @media screen and (min-width: 990px) {
      height: 100vh;
    }
  }
  .product__featured-media-container h1 {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);
    color: var(--white);
  }
  product-featured-media {
    display: flex;
    height: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  .product__featured-media {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
  }
  .product__featured-media :is(img, video) {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: visibility 300ms ease-out, opacity 300ms ease-out;
    visibility: hidden;
    opacity: 0;
  }
  .product__featured-media :is(img, video).active {
    visibility: visible;
    opacity: 1;
  }
  .product__featured-media :is(img, video) {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .product__featured-media-container .views-nav {
    position: absolute;
    color: var(--white);

    @media screen and (max-width: 989px) {
      top: 50%;
      right: 1.25rem;
      transform: translateY(-50%);
    }

    @media screen and (min-width: 990px) {
      bottom: 1.25rem;
      left: 1.25rem;
    }
  }
  .product__featured-media-container .views-nav__view-1-2 {
    display: flex;
    gap: 2rem;
  }
  .product__featured-media-container .views-nav__view-1-2 > * {
    text-box: trim-both cap alphabetic;
    line-height: 1;
  }
  .product__featured-media-container .views-nav__view-1-2 span:is(.first-view, .second-view) {
    position: relative;
    padding: 0.5rem;
    margin: -0.5rem;
    cursor: pointer;
  }
  .product__featured-media-container .views-nav__view-1-2 span:is(.first-view, .second-view).active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--white);
  }
  .product__featured-media-container .views-nav__change-view {
    cursor: pointer;
    text-decoration: underline;
  }
  .product__featured-media-container .pag {
    color: var(--white);
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.25rem;
  }

  @media screen and (max-width: 989px) {
    .product__media-thumbnails-container {
      padding: 0.25rem 0 0;
    }
  }
  product-thumbnails {
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.25rem;
    padding: 0 0.25rem;
  }
  .product__media-thumbnail {
    scroll-snap-align: center;
    cursor: pointer;
    height: 100%;
    position: relative;

    @media screen and (max-width: 989px) {
      flex: 1;
    }

    @media screen and (min-width: 990px) {
      width: 33%;
      flex-shrink: 0;
    }
  }
  .product__media-thumbnail :is(img, video) {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: visibility 300ms ease-out, opacity 300ms ease-out;
    visibility: hidden;
    opacity: 0;
  }
  .product__media-thumbnail :is(img, video).active {
    visibility: visible;
    opacity: 1;
  }
  .product__media-thumbnail:nth-child(3n+3) {
    width: 36%;
  }
  .product__media-thumbnail:nth-child(3n+1) {
    aspect-ratio: 237 / 278;
  }
  .product__media-thumbnail:nth-child(3n+2) {
    aspect-ratio: 237 / 190;
  }
  .product__media-thumbnail:nth-child(3n+3) {
    aspect-ratio: 278 / 278;
  }
  .product__media-thumbnail:nth-child(3n+3) :is(img, video) {
    border-radius: 50%;
  }
  .product__media-thumbnail:not(:nth-child(3n+3)).active::after{
    content: '';
    border-bottom: 2px solid var(--light-brown);
    position: absolute;
    inset: 0;
  }
  .product__media-thumbnail:nth-child(3n+3).active .border-circle {
    display: block;
    height: 50%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
  }
  .product__media-thumbnail:nth-child(3n+3).active .border-circle::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200%;
    border-radius: 50%;
    border: 2px solid var(--light-brown);
  }

  .product__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (max-width: 989px) {
    .product__content {
      gap: 1.25rem;
    }

    .product__content > :is(h1, .product__description-variant-selects, .product__description) {
      padding: 0 0.625rem;
    }
  }
  @media screen and (min-width: 990px) {
    .product__description-variant-selects {
      padding: 0.75rem 1.25rem;
    }
  }

  .product__description {
    margin: 1.25rem 0 0;
  }
  @media screen and (min-width: 990px) {
    .product__description {
      margin: 0 0 5rem;
    }
  }
  .product__description-columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;

    @media screen and (min-width: 990px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  .product__description-columns .metafield-rich_text_field h1 + h1 {
    margin-top: 0.5rem;
  }
  .product__description-columns .metafield-rich_text_field h1 + p {
    margin-top: 0.75rem;
  }
  .product__description-columns * + .metafield-rich_text_field {
    margin-top: 0.5rem;
  }

  @media screen and (min-width: 990px) {
    .product__variant-selects {
      border-top: 1px solid var(--light-brown);
    }
    .product__option {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: center;
    }
    .product__option + .product__option {
      border-top: 1px solid var(--light-brown-30);
    }
  }
  .product__option-title {
    display: block;
    padding: 0 0 0.5rem;
  }
  @media screen and (min-width: 990px) {
    .product__option-title {
      padding: 0.75rem 0;
    }
  }
  .product__option-fieldset {
    border: none;
    padding: 0;
    display: flex;
  }
  .product__option-fieldset input {
    position: absolute;
    height: 0;
    width: 0;
  }
  .product__option-fieldset label {
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border: 1px solid var(--light-brown);
    text-align: center;
    padding: 0.75rem;
    margin: -1px -1px -1px 0;
    transition: background-color 300ms ease-out;
  }
  .product__option-fieldset input:checked + label {
    background-color: var(--white);
  }
  .product__option-fieldset label .swatch {
    display: block;
    border-radius: 50%;
    position: relative;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--dark-brown);
  }
  .product__option-fieldset label .swatch::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.65rem;
    height: 0.65rem;
    background-color: var(--swatch-color);
    border-radius: 50%;
  }

  @media screen and (max-width: 989px) {
    product-form {
      display: block;
    }
  }
  .product__atb {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .product__tech-sheet {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--light-brown-30);
  }
  @media screen and (min-width: 990px) {
     .product__tech-sheet {
      justify-content: space-between;
    }
  }
  .product__tech-sheet-download a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem 0;
  }
  @media screen and (min-width: 990px) {
    .product__tech-sheet-download a {
      padding: 1.25rem 0;
    }
  }
  .product__tech-sheet-download .icon-download {
    padding-right: 0.75rem;
  }

  .product__mobile-slideshow {
    position: relative;
  }
  .product__mobile-slideshow h1 {
    position: absolute;
    bottom: 0.75rem;
    left: 1.25rem;
    color: var(--white);
    z-index: 10;
  }

  include-run-modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .include-run-modal__dialog {
    position: fixed;
    top: 50%;
    left: 0.625rem;
    right: 0.625rem;
    border: none;
    transform: translateY(-50%);
    background-color: var(--eggshell);
    text-align: left;
    z-index: 10;
    padding: 5rem 1.25rem 3.75rem;
    opacity: 0;
    transition: opacity 300ms ease-out;
    
    @media screen and (min-width: 990px) {
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 5rem;
    }
  }
  .include-run-modal__dialog.open {
    opacity: 1;
  }
  .include-run-modal__dialog .metafield-rich_text_field > * + * {
    margin-top: 0.75rem;
  }
  .include-run-modal__close-button {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
  }
  include-run-modal::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: black;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms ease-out, opacity 300ms ease-out;
  }
  include-run-modal:has(.include-run-modal__dialog.open)::before {
    visibility: visible;
    opacity: 0.6;
  }
  body:has(.include-run-modal__dialog.open) {
    overflow: hidden;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
