<div class="split-media-content{% if section.settings.layout == 'media_on_left' %} media-on-left{% endif %}">
  <div class="split-media-content__content">
    <div class="split-media-content__content-eyebrow-content">
      {% if section.settings.eyebrow != blank %}
        <span class="split-media-content__content-eyebrow body-bold">{{ section.settings.eyebrow }}</span>
      {% endif %}
      {% if section.settings.content != blank %}
        <div class="split-media-content__content-content rte">{{ section.settings.content }}</div>
      {% endif %}
    </div>

    {% assign image_block = section.blocks | find: 'type', 'image' %}
    {% if image_block %}
      {{ image_block.settings.image | image_url: width: 1440 | image_tag: class: 'mobile-hidden' }}
    {% endif %}

    {% assign has_rows = section.blocks | has: 'type', 'row' %}
    {% if has_rows %}
      <div class="split-media-content__rows mobile-hidden">
        {% for block in section.blocks %}
          {% if block.type == 'row' %}
            <div class="split-media-content__row">
              <div class="row-heading">
                {% if block.settings.heading != blank %}
                  <span class="chart">{{ block.settings.heading }}</span>
                {% endif %}
                {% if block.settings.subheading != blank %}
                  <span class="chart-italic row-heading__subheading">{{ block.settings.subheading }}</span>
                {% endif %}
              </div>
              {% if block.settings.content != blank %}
                <div class="row-content rte body-bold">{{ block.settings.content }}</div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="split-media-content__media">
    {% if section.settings.video != blank or section.settings.image != blank %}
      <div class="split-media-content__big-media">
        {% if section.settings.video != blank %}
          {{ section.settings.video | video_tag: image_size: '1440x', loop: true, controls: false, muted: true, autoplay: true }}
        {% elsif section.settings.image != blank %}
          {{ section.settings.image | image_url: width: 1440 | image_tag }}
        {% endif %}

        {% if section.settings.media_caption != blank %}
          <span class="split-media-content__media-caption rte">{{ section.settings.media_caption }}</span>
        {% endif %}
      </div>
    {% endif %}

    {% assign image_block = section.blocks | find: 'type', 'image' %}
    {% if image_block %}
      {{ image_block.settings.image | image_url: width: 1980 | image_tag: class: 'split-media-content__image-block desktop-hidden' }}
    {% endif %}

    {% if has_rows %}
      <div class="split-media-content__rows desktop-hidden">
        {% for block in section.blocks %}
          {% if block.type == 'row' %}
            <div class="split-media-content__row">
              <div class="row-heading">
                {% if block.settings.heading != blank %}
                  <span class="chart">{{ block.settings.heading }}</span>
                {% endif %}
                {% if block.settings.subheading != blank %}
                  <span class="chart-italic row-heading__subheading">{{ block.settings.subheading }}</span>
                {% endif %}
              </div>
              {% if block.settings.content != blank %}
                <div class="row-content rte body-bold">{{ block.settings.content }}</div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% stylesheet %}
  .split-media-content {
    margin-top: 2.5rem;
    border-top: 1px solid var(--light-brown-60);
    padding: 2.5rem 0.625rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  @media screen and (min-width: 990px) {
    .split-media-content {
      margin-top: 1.25rem;
      padding: 1.25rem 0 0;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 0;
    }

    .split-media-content.media-on-left  > *:first-child {
      grid-column: 2;
      grid-row: 1;
    }

    .split-media-content.media-on-left  > *:nth-child(2) {
      grid-column: 1;
      grid-row: 1;
    }
  }

  @media screen and (min-width: 990px) {
    .split-media-content__content {
      padding: 0 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.25rem;
    }
  }
  .split-media-content__content-eyebrow {
    display: block;
    margin-bottom: 1.25rem;
  }
  @media screen and (min-width: 990px) {
    .split-media-content__content-eyebrow-content {
      width: 85%;
      margin-top: 1.25rem;
    }
  }
  .split-media-content__content-content > * + * {
    margin-top: 1.25rem;
  }

  .split-media-content__rows {
    border-top: 1px solid var(--light-brown);
    margin: 2.5rem 0 0;
  }
  @media screen and (min-width: 990px) {
    .split-media-content__rows {
      margin: 0 0 0.5rem;
    }
  }
  @media screen and (min-width: 990px) {
    .split-media-content__row + .split-media-content__row {
      border-top: 1px solid var(--light-brown-30);
    }
  }
  .split-media-content__row {
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0 0;
  }
  @media screen and (min-width: 990px) {
    .split-media-content__row {
      padding: 0.75rem 0;
    }
  }
  .split-media-content__row .row-content {
    color: var(--grey);
  }

  @media screen and (min-width: 990px) {
    .split-media-content:not(.media-on-left) .split-media-content__media {
      border-left: 1px solid var(--light-brown-60);
    }
    .split-media-content:not(.media-on-left) .split-media-content__media :is(.split-media-content__big-media, .split-media-content__media-caption) {
      padding-left: 1.25rem;
    }

    .split-media-content.media-on-left .split-media-content__media {
      border-right: 1px solid var(--light-brown-60);
    }
    .split-media-content.media-on-left .split-media-content__media :is(.split-media-content__big-media, .split-media-content__media-caption) {
      padding-right: 1.25rem;
    }
  }

  .split-media-content__media {
    position: relative;
  }
  @media screen and (max-width: 989px) {
    .split-media-content__image-block {
      margin: 1.25rem 0 0;
    }
  }
  .split-media-content__big-media {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .split-media-content__big-media :is(img, video) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .split-media-content__media-caption {
    position: absolute;
    bottom: 1.2rem;
    left: 1.25rem;
    right: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white);
  }

  image-grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "block" "thumbnails";
    gap: 1.25rem;
    align-items: start;

    @media screen and (min-width: 990px) {
      padding: 0 1.25rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-areas: "block block thumbnails";
    gap: 0.25rem;
    }
  }
  .image-grid__block {
    grid-area: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 150ms ease-out, opacity 150ms ease-out;
  }
  .image-grid__block.active {
    visibility: visible;
    opacity: 1;
  }
  .image-grid-block__eyebrow {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
  }
  .image-grid-block__content {
    display: block;
    margin-top: 0.75rem;

    @media screen and (min-width: 990px) {
      margin-top: 1.25rem;
    }
  }
  .image-grid__thumbnails {
    grid-area: thumbnails;
    display: flex;
    gap: 0.25rem;

    @media screen and (min-width: 990px) {
      flex-direction: column;
    }
  }
  .image-grid__thumbnails img {
    cursor: pointer;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    flex: 1;
    min-width: 0;
    border-bottom: 2px solid transparent;
  }
  .image-grid__thumbnails img.active {
    border-bottom: 2px solid var(--light-brown);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Split Media + Content",
  "disabled_on": {"groups": ["header", "footer"]},
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
    },
    {
      "type": "header",
      "content": "Media",
      "info": "If image grid block added, media is not displayed."
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video",
      "info": "If left blank, image used instead."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "media_caption",
      "label": "Media caption",
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Desktop layout",
      "options": [
        {
          "label": "Content on left",
          "value": "content_on_left"
        },
        {
          "label": "Media on left",
          "value": "media_on_left"
        }
      ],
      "default": "content_on_left"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Shown on the content side.",
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
      ]
    },
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "paragraph",
          "content": "Shown on the content side.",
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content"
        },
      ]
    },
  ],
  "presets": [
    {
      "name": "Split Media + Content"
    }
  ]
}
{% endschema %} 